<div class="contain">
  <p class="subtitle has-text-centered has-text-light">Login:</p>
  <form>
    <div class="field">
      <div class="control">
        <label class="label has-text-light">Email Address:
          <input class="input" type="email" autocomplete="username email" name="email" [(ngModel)]="email">
        </label>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <label class="label has-text-light">Password:
          <input class="input" type="password" autocomplete="current-password" name="password" [(ngModel)]="password">
        </label>
      </div>
    </div>
    <button class="button is-outlined is-success"
            (click)="userLogin(email, password)">
      Login
    </button>
  </form>
</div>
