.top-nav {
  display: flex;
  justify-content: space-between;
  padding: .1rem .3rem;
}

.anon-links {
  display: flex;
  justify-content: space-between;
  width: 130px;
  margin-top: .3rem;
}

.dropdown-trigger {
  height: 2.7rem;
}

.user-menu {
  top: 72%;
  margin-left: -6.5rem;
  //TODO: Hide the user-dropdown-menu when the overlay menu is active
}
