<nav class="navbar is-fixed-bottom navigation">
  <a class="show-menu" (click)="showMenu = !showMenu">
    <span class="icon">
      <i class="fas fa-3x fa-bullseye"></i>
    </span>
  </a>
</nav>
<ng-container *ngIf="showMenu">
  <div class="overlay">
    <div class="admin-links">
      <button class="button is-outlined is-primary" routerLink="/create-event" (click)="showMenu = false">
        Create Event
      </button>
      <button class="button is-outlined is-danger" routerLink="/event-archive" (click)="showMenu = false">
        Event archive
      </button>
    </div>
    <button class="button is-outlined is-success" style="width: 6.5rem; margin: 0 auto" routerLink="/event" (click)="showMenu = false">
      View Event
    </button>
    <div class="links">
      <div class="row row1">
        <a routerLink="" (click)="showMenu = false">
          <span class="icon">
            <i class="fas fa-2x fa-bullseye"></i>
          </span>
        </a>
      </div>
      <div class="row row2">
        <a routerLink="" (click)="showMenu = false">
          <span class="icon">
            <i class="fas fa-2x fa-bullseye"></i>
          </span>
        </a>
        <a routerLink="" (click)="showMenu = false">
          <span class="icon">
            <i class="fas fa-2x fa-bullseye"></i>
          </span>
        </a>
      </div>
      <div class="row row3">
        <a routerLink="" (click)="showMenu = false">
          <span class="icon">
            <i class="fas fa-2x fa-bullseye"></i>
          </span>
        </a>
        <a routerLink="" (click)="showMenu = false">
          <span class="icon">
            <i class="fas fa-2x fa-bullseye"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</ng-container>
