<nav class="navbar is-fixed-bottom navigation">
  <div class="show-menu" (click)="showMenu = !showMenu">
    <span class="icon">
      <i class="fas fa-3x fa-bullseye"></i>
    </span>
  </div>
</nav>
<ng-container *ngIf="showMenu">
  <div class="overlay">
    <div class="links">
      <div class="row row1">
        <a routerLink="">
          <span class="icon">
            <i class="fas fa-2x fa-bullseye"></i>
          </span>
        </a>
      </div>
      <div class="row row2">
        <a routerLink="">
          <span class="icon">
            <i class="fas fa-2x fa-bullseye"></i>
          </span>
        </a>
        <a routerLink="">
          <span class="icon">
            <i class="fas fa-2x fa-bullseye"></i>
          </span>
        </a>
      </div>
      <div class="row row3">
        <a routerLink="">
          <span class="icon">
            <i class="fas fa-2x fa-bullseye"></i>
          </span>
        </a>
        <a routerLink="">
          <span class="icon">
            <i class="fas fa-2x fa-bullseye"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</ng-container>
