@import '../node_modules/bulma/bulma';

body {
  height: 100vh;
  background: url("/assets/images/site_bg.jpg") 50%;
  background-size: cover;
  overflow: hidden !important;
}

.container {
  padding: .3rem 1rem;
}
